body {
  margin: 0;
  background-color: #f6f8fa;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.app-icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.white-outline {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.green-text {
  color: green;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-btn {
  background-color: #1c5d3d; /* Verde oscurito */
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #164d32;
}
